.article img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 800 / 380;
    border-radius: 60px;
}

.article > *:nth-child(1) {
    margin-top: 0;
}

.article p {
    @apply text-base m768:text-[22px] m768:leading-[1.4];
}

.article img {
    margin-top: 54px;
    @apply mb-6 m768:mb-[62px];
}

.article hr {
    margin-top: 39px;
    @apply mb-6 m768:mb-[45px];
}

.article h4 {
    @apply mb-6 m768:mb-[22px];
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
    text-transform: uppercase;
}

.article ul,
.article ol {
    @apply text-base m768:text-xl leading-[1.4];

    padding-left: 28px;
}

.article ul li {
    list-style-type: disc;
}

.article ul li:not(:first-child) {
    margin-top: 15px;
}
