@font-face {
    font-family: 'LVC Sans';
    src: url('/src/assets/fonts/LVCSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LVC Sans';
    src: url('/src/assets/fonts/LVCSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
