@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        padding: 18px 18px 18px 28px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        border-radius: 99px;

        svg, img {
            width: 18px;
            height: 18px;
        }
    }

    .headerCatalogButton {
        @apply rounded-full border border-accent flex items-center py-2 pl-3 pr-3 m576:pr-6 gap-2.5 m576:gap-5 font-bold uppercase;
    }

    .headerCatalogButton img:nth-child(2) {
        display: none;
    }

    .headerCatalogButton._active {
        @apply bg-accent text-white;
    }

    .headerCatalogButton._active img:nth-child(1) {
        display: none;
    }

    .headerCatalogButton._active img:nth-child(2) {
        display: block;
    }
}
