{% extends 'layouts/main.njk' %}

{% block content %}

<div class="container">
    {% include '../src/components/breadcrumbs.njk' %}

    <section class="flex gap-2.5">
        <img src="/src/assets/imgs/contract-production.webp" class="max-m992:hidden w-1/2 rounded-[32px] m1200:rounded-[80px] aspect-[638/460] object-cover" alt="Контрактное производство">

        <div class="text-white m992:aspect-[638/460] flex-1 bg-main flex-center rounded-[32px] m1200:rounded-[80px] flex-col p-4">
            <div class="flex-center flex-wrap gap-1.5 text-sm uppercase leading-[1.2]">
                <div class="flex items-center gap-3 py-2 pl-2 pr-4 bg-white/10 rounded-full">
                    <img src="/src/assets/imgs/icons/tick-circle.svg" alt="" class="size-4" />
                    <span>Брендинг</span>
                </div>
                <div class="flex items-center gap-3 py-2 pl-2 pr-4 bg-white/10 rounded-full">
                    <img src="/src/assets/imgs/icons/tick-circle.svg" alt="" class="size-4" />
                    <span>упаковка</span>
                </div>
                <div class="flex items-center gap-3 py-2 pl-2 pr-4 bg-white/10 rounded-full">
                    <img src="/src/assets/imgs/icons/tick-circle.svg" alt="" class="size-4" />
                    <span>доставка</span>
                </div>
            </div>

            <h4 class="mt-[42px] text-center uppercase mb-4 m1024:mb-[29px] text-3xl m1024:text-[40px] leading-[1.2]">
                Выгодное Контрактное производство
            </h4>

            <p class="mb-4 m1024:mb-11 text-center">Готовы произвести продукцию под ваш бренд и требования </p>

            <button class="button border-accent border w-[204px]">
                <span>Подробнее</span>

                <img src="/src/assets/imgs/icons/arrow-right.svg" alt="" />
            </button>
        </div>
    </section>

    <section class="my-20 m1200:my-[140px]">
        <h4 class="text-2xl m768:text-3xl uppercase mb-[40px]">Полный цикл производства </h4>

        <div class="grid m640:grid-cols-2 m1200:grid-cols-4 gap-2 5">
            <div class="relative p-4 m640:py-[35px] m640:px-10 rounded-[30px] m640:rounded-[60px] bg-white">
                <h4 class="text-lg mb-6 m1200:mb-[78px] leading-[1.4] uppercase font-bold">
                    Брендинг<br/>
                    продукции<br/>
                    и упаковка
                </h4>

                <p class="leading-[1.4]">
                    Брендинг и упаковка<br/>
                    с последующей<br/>
                    наклейкой этикеток<br/>
                    и упаковкой партии
                </p>

                <img src="/src/assets/imgs/manufacture-full-cycle/1.svg" alt="" class="absolute inset-y-0 right-0 w-[100px]" />
            </div>

            <div class="relative p-4 m640:py-[35px] m640:px-10 rounded-[30px] m640:rounded-[60px] bg-accent text-white">
                <h4 class="text-lg mb-6 m1200:mb-[78px] leading-[1.4] uppercase font-bold">
                    гибкие<br/>
                    условия<br/>
                    оплаты
                </h4>

                <p class="leading-[1.4]">
                    Вы получаете гибкие<br/> условия оплаты.<br/> Возможность выбрать<br/> несколько вариантов
                </p>

                <img src="/src/assets/imgs/manufacture-full-cycle/2.svg" alt="" class="absolute inset-y-0 right-0 w-[100px]" />
            </div>

            <div class="relative p-4 m640:py-[35px] m640:px-10 rounded-[30px] m640:rounded-[60px] bg-white">
                <h4 class="text-lg mb-6 m1200:mb-[78px] leading-[1.4] uppercase font-bold">
                    Доставка<br/>
                    по всей<br/>
                    России
                </h4>

                <p class="leading-[1.4]">
                    Упаковка продукции<br/>
                    и стабильные поставки<br/>
                    точно в срок<br/>
                    до вашего склада
                </p>

                <img src="/src/assets/imgs/manufacture-full-cycle/3.svg" alt="" class="absolute inset-y-0 right-0 w-[100px]" />
            </div>

            <div class="relative p-4 m640:py-[35px] m640:px-10 rounded-[30px] m640:rounded-[60px] bg-white">
                <h4 class="text-lg mb-6 m1200:mb-[78px] leading-[1.4] uppercase font-bold">
                    Разработка<br/>
                    уникальных<br/>
                    рецептур
                </h4>

                <p class="leading-[1.4]">
                    Разработаем рецептуру<br/>
                    любого класса и заданных<br/>
                    свойств, под конкретные<br/>
                    ваши примеры
                </p>

                <img src="/src/assets/imgs/manufacture-full-cycle/4.svg" alt="" class="absolute inset-y-0 right-0 w-[100px]" />
            </div>
        </div>
    </section>

    <section class="my-20 m1200:my-[140px]">
        <h4 class="text-2xl m768:text-3xl uppercase mb-[40px]">Варианты сотрудничества</h4>

        <div class="grid m640:grid-cols-2 m992:grid-cols-3 gap-2 5">
            <div class="rounded-[30px] m1200:rounded-[80px] overflow-hidden bg-white relative z-10">
                <img src="/src/assets/imgs/cooperation-vartiants/1.png" alt="" class="inset-0 absolute -z-10 object-cover size-full" />

                <div class="p-6 m1200:p-10 m1200:pt-[118px] bg-main/60 hover:bg-main/90 text-white group transition-colors size-full flex flex-col justify-between">
                    <div>
                        <h4 class="font-bold uppercase text-2xl m1200:text-3xl leading-[1.2] mb-[43px]">
                            Готовая линейка<br class="max-m1200:hidden" />
                            продукции<br class="max-m1200:hidden" />
                            под ваш бренд
                        </h4>

                        <p class="leading-[1.4] mb-[39px]">
                            Производим по базовой рецептуре<br/>
                            и поставляем из собственной<br/>
                            линейки продукции.
                            <br/><br/>
                            Производство и отгрузка:<br/> от 5000 единиц
                        </p>
                    </div>

                    <button class="button border border-white group-hover:bg-accent group-hover:border-accent transition-all text-white w-[254px]">
                        <span>отправить заявку</span>

                        <img src="/src/assets/imgs/icons/arrow-right.svg" alt="" />
                    </button>
                </div>
            </div>

            <div class="rounded-[30px] m1200:rounded-[80px] overflow-hidden bg-white relative z-10">
                <img src="/src/assets/imgs/cooperation-vartiants/2.png" alt="" class="inset-0 absolute -z-10 object-cover size-full" />

                <div class="p-6 m1200:p-10 m1200:pt-[118px] bg-main/60 hover:bg-main/90 text-white group transition-colors size-full flex flex-col justify-between">
                    <div>
                        <h4 class="font-bold uppercase text-2xl m1200:text-3xl leading-[1.2] mb-[43px]">
                            Аналоги<br class="max-m1200:hidden" />
                            существующих<br class="max-m1200:hidden" />
                            средств
                        </h4>

                        <p class="leading-[1.4] mb-[39px]">
                            Вы предоставляете образец средства, мы подбираем рецептуру, получаем средство с теми же свойствами.
                            <br/><br/>
                            Производство и отгрузка:<br/>от 5000 единиц
                        </p>
                    </div>

                    <button class="button border border-white group-hover:bg-accent group-hover:border-accent transition-all text-white w-[254px]">
                        <span>отправить заявку</span>

                        <img src="/src/assets/imgs/icons/arrow-right.svg" alt="" />
                    </button>
                </div>
            </div>

            <div class="rounded-[30px] m1200:rounded-[80px] overflow-hidden bg-white relative z-10 m640:max-m992:col-span-2">
                <img src="/src/assets/imgs/cooperation-vartiants/3.png" alt="" class="inset-0 absolute -z-10 object-cover size-full" />

                <div class="p-6 m1200:p-10 m1200:pt-[118px] bg-main/60 hover:bg-main/90 text-white group transition-colors size-full flex flex-col justify-between">
                    <div>
                        <h4 class="font-bold uppercase text-2xl m1200:text-3xl leading-[1.2] mb-[43px]">
                            Индивидуальная<br class="max-m1200:hidden" />
                            разработка<br class="max-m1200:hidden" />
                            средств
                        </h4>

                        <p class="leading-[1.4] mb-[39px]">
                            Мы разрабатываем для вас рецептуру
                            с нуля под ключ с учетом ваших пожеланий и необходимых свойств.
                            <br/><br/>
                            Производство и отгрузка: от 5000 единиц
                        </p>
                    </div>

                    <button class="button border border-white group-hover:bg-accent group-hover:border-accent transition-all text-white w-[254px]">
                        <span>отправить заявку</span>

                        <img src="/src/assets/imgs/icons/arrow-right.svg" alt="" />
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="my-20 m1200:my-[140px] flex max-m1280:flex-col-reverse gap-[66px]">
        <div>
            <h4 class="mb-[33px] text-3xl m640:text-[44px] leading-[1.2] uppercase">
                Проанализируем конкурентов
                и предложим вам лучшее решение
            </h4>

            <p class="mb-[44px] text-xl leading-[1.3]">Консультация лично от директора производства и подбор наиболее выгодного варианта</p>

            <button class="button bg-accent text-white w-[254px]">
                <span>отправить заявку</span>

                <img src="/src/assets/imgs/icons/arrow-right.svg" alt="" />
            </button>
        </div>

        <div class="shrink-0 w-full m992:w-[746px] rounded-[60px] aspect-[746/422] relative">
            <img src="/src/assets/imgs/cooperation-vartiants/4.png" alt="" class="size-full object-cover" />

            <div class="absolute left-3 m640:left-5 bottom-3 m640:bottom-5 bg-white rounded-3xl m640:rounded-[50px] flex items-center p-4 m640:pl-10 m640:pr-[22px] gap-[15px] m640:py-[24px]">
                <p class="font-bold text-sm m640:text-lg leading-[1.4] uppercase">
                    Поможем<br/>
                    с сертификацией<br/>
                    продукции
                </p>

                <img src="/src/assets/imgs/icons/vote2.svg" class="size-[60px] m640:size-[84px]" alt="" />
            </div>
        </div>
    </section>

    <section class="my-20 m1200:my-[140px]">
        <h4 class="mb-[51px] text-[44px] leading-[1.2] uppercase">Этапы сотрудничества</h4>

        <div class="rounded-[30px] m1024:rounded-[60px] bg-main">
            <div class="bg-white rounded-[30px] m1024:rounded-[60px] p-5 m1024:pt-12 m1024:px-[50px] m1024:pb-[45px]">
                <h4 class="text-2xl m768:text-3xl uppercase mb-[40px]">Разработка продукта</h4>

                <div class="flex max-m1024:flex-wrap justify-between gap-y-10">
                    <div class="w-full m576:w-1/2 m1024:w-[234px]">
                        <h4 class="mb-[11px] text-accent text-[38px] leading-[1.2]">01</h4>
                        <p class="mb-4 font-bold uppercase leading-[1.4] text-lg">
                            Зарегистрировать<br/>
                            торговую<br/>
                            марку
                        </p>

                        <img src="/src/assets/imgs/product-develop/1.svg" alt="" class="size-[64px] mb-[17px]" />

                        <p class="leading-[1.4]">
                            Наши юристы оформят<br/>
                            все документы
                        </p>
                    </div>

                    <div class="w-full m576:w-1/2 m1024:w-[234px]">
                        <h4 class="mb-[11px] text-accent text-[38px] leading-[1.2]">02</h4>
                        <p class="mb-4 font-bold uppercase leading-[1.4] text-lg">
                            Выбрать нужные<br/>
                            средства<br/>
                            для производства
                        </p>

                        <img src="/src/assets/imgs/product-develop/2.svg" alt="" class="size-[64px] mb-[17px]" />

                        <p class="leading-[1.4]">
                            Подберем нужный<br/>
                            продукт или разработаем
                        </p>
                    </div>

                    <div class="w-full m576:w-1/2 m1024:w-[234px]">
                        <h4 class="mb-[11px] text-accent text-[38px] leading-[1.2]">03</h4>
                        <p class="mb-4 font-bold uppercase leading-[1.4] text-lg">
                            Выбрать<br/>
                            упаковку вашей<br/>
                            продукции
                        </p>

                        <img src="/src/assets/imgs/product-develop/3.svg" alt="" class="size-[64px] mb-[17px]" />

                        <p class="leading-[1.4]">
                            Маркетологи и технологи<br/> подберут упаковку
                        </p>
                    </div>

                    <div class="w-full m576:w-1/2 m1024:w-[234px]">
                        <h4 class="mb-[11px] text-accent text-[38px] leading-[1.2]">04</h4>
                        <p class="mb-4 font-bold uppercase leading-[1.4] text-lg">
                            Разработать<br/>
                            дизайн<br/>
                            упаковки
                        </p>

                        <img src="/src/assets/imgs/product-develop/4.svg" alt="" class="size-[64px] mb-[17px]" />

                        <p class="leading-[1.4]">
                            Можем создать уникальную<br/>
                            и трендовую этикетку
                        </p>
                    </div>
                </div>
            </div>

            <div class="text-white p-5 m1024:pt-12 m1024:px-[50px] m1024:pb-[45px]">
                <h4 class="text-2xl m768:text-3xl uppercase mb-[40px]">Производство продукта</h4>

                <div class="flex max-m1024:flex-wrap justify-between gap-y-10">
                    <div class="w-full m576:w-1/2 m1024:w-[234px]">
                        <h4 class="mb-[11px] text-accent text-[38px] leading-[1.2]">01</h4>
                        <p class="mb-4 font-bold uppercase leading-[1.4] text-lg">
                            производство<br/>
                            средств под<br/>
                            вашей маркой
                        </p>

                        <img src="/src/assets/imgs/product-develop/5.svg" alt="" class="size-[64px] mb-[17px]" />

                        <p class="leading-[1.4]">
                            Произведем всю продукцию<br/>
                            на нашем производстве
                        </p>
                    </div>

                    <div class="w-full m576:w-1/2 m1024:w-[234px]">
                        <h4 class="mb-[11px] text-accent text-[38px] leading-[1.2]">02</h4>
                        <p class="mb-4 font-bold uppercase leading-[1.4] text-lg">
                            Напечатаем<br/>
                            этикетки<br/>
                            для продукции
                        </p>

                        <img src="/src/assets/imgs/product-develop/6.svg" alt="" class="size-[64px] mb-[17px]" />

                        <p class="leading-[1.4]">
                            Подберем наиболее<br/>
                            выгодного производителя
                        </p>
                    </div>

                    <div class="w-full m576:w-1/2 m1024:w-[234px]">
                        <h4 class="mb-[11px] text-accent text-[38px] leading-[1.2]">03</h4>
                        <p class="mb-4 font-bold uppercase leading-[1.4] text-lg">
                            Наклеим этикетки<br/>
                            и упакуем всю<br/>
                            продукцию
                        </p>

                        <img src="/src/assets/imgs/product-develop/7.svg" alt="" class="size-[64px] mb-[17px]" />

                        <p class="leading-[1.4]">
                            Наши сотрудники<br/>
                            выполнят все операции
                        </p>
                    </div>

                    <div class="w-full m576:w-1/2 m1024:w-[234px]">
                        <h4 class="mb-[11px] text-accent text-[38px] leading-[1.2]">04</h4>
                        <p class="mb-4 font-bold uppercase leading-[1.4] text-lg">
                            доставляем<br/>
                            готовую<br/>
                            продукцию
                        </p>

                        <img src="/src/assets/imgs/product-develop/8.svg" alt="" class="size-[64px] mb-[17px]" />

                        <p class="leading-[1.4]">
                            Можем создать уникальную
                            и трендовую этикетку
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="mb-20 m1200:mb-[140px]">
        {% include '../src/components/certificates-slider.njk' %}
    </div>

    <section class="mb-20 m1200:mb-[160px] relative">
        <div class="m1200:absolute top-0 left-0">
            <h4 class="mb-[51px] text-[44px] leading-[1.2] uppercase">
                Шифа cosmetics<br class="max-m1200:hidden" />
                — это натуральные<br class="max-m1200:hidden" />
                и безопасные<br class="max-m1200:hidden" />
                средства ухода
            </h4>

            <p class="mb-[52px] text-xl leading-[1.4]">
                Продукты, которые<br class="max-m1200:hidden" />
                мы придумали сами спустя<br class="max-m1200:hidden" />
                годы погружения в мир<br class="max-m1200:hidden" />
                натуральных средств<br class="max-m1200:hidden" />
                для ухода за телом,<br class="max-m1200:hidden" />
                кожей и экопродуктов.
            </p>

            <button class="button border-accent border w-[174px]">
                <span>О бренде</span>

                <svg width="18" height="18" class="stroke-main" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.813 9h12.374M10.125 3.938 15.188 9l-5.063 5.063" stroke-linecap="round" stroke-linejoin="round"/></svg>
            </button>
        </div>

        <div class="m1200:w-[897px] max-m1200:mt-10 flex flex-wrap justify-end gap-[15px] justify-self-end">
            <div class="w-full m640:w-[calc(50%-7.5px)] m1200:w-[314px] p-4 m640:py-[35px] m640:px-10 bg-white relative rounded-[30px] m640:rounded-[60px] overflow-hidden col-span-full m576:col-span-6 m1200:col-span-3">
                <p class="text-lg leading-[1.4] font-bold mb-10 m1200:mb-[78px] uppercase">
                    Чистые составы<br/>
                    и безупречные<br/>
                    формулы
                </p>

                <p>
                    Уход за кожей, волосами<br/>
                    — всё собственного<br/>
                    производства и только<br/>
                    наивысшего качества
                </p>

                <img src="/src/assets/imgs/about/1.svg" class="absolute inset-y-0 right-0" alt="">
            </div>

            <div class="w-full m640:w-[calc(50%-7.5px)] m1200:w-[314px] p-4 m640:py-[35px] text-white m640:px-10 bg-accent relative rounded-[30px] m640:rounded-[60px] overflow-hidden col-span-full m576:col-span-6 m1200:col-span-3">
                <p class="text-lg leading-[1.4] font-bold mb-10 m1200:mb-[78px] uppercase">
                    Более 12 лет<br/>
                    экспертного<br/>
                    опыта
                </p>

                <p>
                    Исследования,<br/>
                    разработки и поиск<br/>
                    лучших решений для<br/>
                    здоровья и красоты
                </p>

                <img src="/src/assets/imgs/about/2.svg" class="absolute inset-y-0 right-0" alt="">
            </div>

            <div class="w-full m1200:w-[568px] m640:py-[35px] p-4 m640:px-10 bg-main text-white relative rounded-[30px] m640:rounded-[60px] overflow-hidden col-span-full m1200:col-span-6">
                <p class="text-lg leading-[1.4] font-bold mb-10 m1200:mb-[78px] uppercase">
                    Строгий<br/>
                    отбор всех<br/>
                    ингредиентов
                </p>

                <p>
                    В разработке каждого нашего<br/>
                    продукта мы используем<br/>
                    только самые проверенные<br/>
                    ингредиенты.
                </p>

                <img src="/src/assets/imgs/about/hands.webp" class="max-m576:hidden absolute inset-y-0 h-full -right-[40px]" alt="">
            </div>

            <div class="w-full m1200:w-[314px] relative m640:py-[35px] p-4 m640:px-10 rounded-[30px] m640:rounded-[60px] bg-white">
                <h4 class="text-lg mb-10 m1200:mb-[78px] leading-[1.4] uppercase font-bold">
                    только<br/>
                    Оригинальна<br/>
                    продукция
                </h4>

                <p class="leading-[1.4]">
                    Сразу с производства,<br/>
                    без посредников<br/>
                    и всегда со свежими<br/>
                    сроками годности
                </p>

                <img src="/src/assets/imgs/manufacture-full-cycle/1.svg" alt="" class="absolute inset-y-0 right-0 w-[100px]" />
            </div>
        </div>
    </section>

    <section class="mb-[80px] grid m992:grid-cols-2 gap-2.5">
        <div class="rounded-[30px] m1024:rounded-[80px] flex flex-col align-center items-center bg-white p-4 m1024:p-10 m1024:pt-[55px]">
            <h4 class="uppercase text-2xl m576:text-3xl leading-[1.2] mb-[29px]">
                Оставьте заявку<br class="max-m576:hidden"/>
                на сотрудничество
            </h4>

            <form class="w-full flex flex-col items-center">
                <div class="grid m576:grid-cols-2 gap-2.5 w-full">
                    <div class="relative rounded-2xl border border-border h-[68px] overflow-hidden">
                        <span class="absolute top-3 inset-x-[15px] text-sm leading-[1.2]">Ваше имя</span>

                        <input name="name" autocomplete="given-name" class="size-full pt-[34px] pb-2.5 px-[15px] placeholder:text-secondary leading-[1.2]" placeholder="Александр" />
                    </div>

                    <div class="relative rounded-2xl border border-border h-[68px] overflow-hidden">
                        <span class="absolute top-3 inset-x-[15px] text-sm leading-[1.2]">Ваша почта</span>

                        <input name="email" type="email" autocomplete="email" class="size-full pt-[34px] pb-2.5 px-[15px] placeholder:text-secondary leading-[1.2]" placeholder="name@mail.com" />
                    </div>

                    <div class="relative rounded-2xl border border-border h-[68px] overflow-hidden">
                        <span class="absolute top-3 inset-x-[15px] text-sm leading-[1.2]">Номер телефона</span>

                        <input name="phone" type="tel" autocomplete="tel" class="size-full pt-[34px] pb-2.5 px-[15px] placeholder:text-secondary leading-[1.2]" placeholder="+7" />
                    </div>

                    <div class="relative rounded-2xl border border-border h-[68px] overflow-hidden">
                        <span class="absolute top-3 inset-x-[15px] text-sm leading-[1.2]">Город</span>

                        <input name="city" autocomplete="address-level2" class="size-full pt-[34px] pb-2.5 px-[15px] placeholder:text-secondary leading-[1.2]" placeholder="Санкт-Петербург" />
                    </div>
                </div>

                <label class="my-[25px] inline-flex items-center gap-2 cursor-pointer">
                    <input type="checkbox" class="hidden" />

                    <img src="/src/assets/imgs/icons/CheckSquare.svg" alt="" />

                    <span class="text-secondary text-xs leading-[1.2]">
                        Принимаю <a href="/privacy" class="underline" target="_blank" rel="noopener noreferrer">условия обработки</a> персональных данных
                    </span>
                </label>
            </form>

            <button class="button bg-accent w-[254px] text-white">
                <span>отправить заявку</span>

                <img src="/src/assets/imgs/icons/arrow-right.svg" alt="" />
            </button>
        </div>

        <img src="/src/assets/imgs/callback-img.png" alt="" class="object-cover rounded-[30px] max-m992:hidden m1024:rounded-[80px] h-full" />
    </section>
</div>

{% endblock %}
