{% extends 'layouts/main.njk' %}

{% block content %}

<div class="container">
    {% include '../src/components/main-slider.njk' %}

    {% include '../src/components/products-slider.njk' %}
</div>

{% endblock %}
