<ul id="breadcrumbs" class="flex flex-wrap items-center text-[10px] leading-3 gap-2.5 text-secondary lowercase mt-3.5 mb-9">
    <li class="flex items-center gap-2.5">
        <a href="#">главная</a>
        <img src="/src/assets/imgs/icons/breadcrumbs-arrow.svg" alt="" />
    </li>
    <li class="flex items-center gap-2.5">
        <a href="#">каталог</a>
        <img src="/src/assets/imgs/icons/breadcrumbs-arrow.svg" alt="" />
    </li>
    <li class="flex items-center gap-2.5">
        <a href="#">крем для тела увлажняющий на основе черного тмина</a>
    </li>
</ul>
