<footer class="bg-main pb-9 pt-[73px] text-white mt-20">
    <div class="container">
        <div class="flex flex-wrap">
            <div class="w-[760px] mr-[111px]">
                <form class="relative mb-[70px]">
                    <button class="absolute inset-y-0 left-0 h-full w-16 flex-center">
                        <svg width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.594 23.438c5.436 0 9.844-4.408 9.844-9.844 0-5.437-4.408-9.844-9.844-9.844-5.437 0-9.844 4.407-9.844 9.844 0 5.436 4.407 9.844 9.844 9.844ZM20.554 20.555l5.695 5.695" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>

                    <input type="text" placeholder="Крем для тела, шампунь для волос..." class="h-[60px] w-full rounded-full border border-white/20 placeholder:text-white text-white text-xs pl-16 pr-7 py-[22px] bg-transparent" />
                </form>

                <div class="grid grid-cols-4 gap-4">
                    <div>
                        <h4 class="mb-8 font-bold uppercase">Каталог</h4>
                        <nav class="text-xs flex flex-col gap-3.5">
                            <a href="#">Для лица</a>
                            <a href="#">Для волос</a>
                            <a href="#">Для телa</a>
                            <a href="#">Косметика</a>
                            <a href="#">Новинки</a>
                        </nav>
                    </div>

                    <div>
                        <h4 class="mb-8 font-bold uppercase">Шифа</h4>
                        <nav class="text-xs flex flex-col gap-3.5">
                            <a href="#">О бренде Шифа</a>
                            <a href="#">Полезные статьи</a>
                            <a href="#">Партнеры</a>
                            <a href="#">Оптовые поставки</a>
                            <a href="#">Контрактное<br/>производство</a>
                        </nav>
                    </div>

                    <div>
                        <h4 class="mb-8 font-bold uppercase">Помощь</h4>
                        <nav class="text-xs flex flex-col gap-3.5">
                            <a href="#">Частые вопросы</a>
                            <a href="#">Как оформить заказ</a>
                            <a href="#">Доставка и оплата</a>
                            <a href="#">Гарантия и возврат</a>
                            <a href="#">Контакты</a>
                        </nav>
                    </div>

                    <div>
                        <h4 class="mb-8 font-bold uppercase">клиентам</h4>
                        <nav class="text-xs flex flex-col gap-3.5">
                            <a href="#">Подарочные карты</a>
                            <a href="#">Акции и скидки</a>
                            <a href="#">Отзывы клиентов</a>
                            <a href="#">Реквизиты</a>
                            <a href="#">Узнать статус заказа</a>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="w-[290px] flex flex-col">
                <img src="/src/assets/imgs/icons/logo-white.svg" alt="" class="mb-20 w-[310px] max-w-none" />

                <a class="text-white font-bold inline-flex mb-[18px] text-4xl" href="tel:88002560720">8 800 2560-720</a>
                <a href="mailto:info@shifashop.ru" class="text-xs">info@shifashop.ru</a>

                <p class="mb-9 mt-3.5 text-xs font-bold">Казань, ул. Роторная, дом 1Г</p>

                <div class="grid grid-cols-5 gap-1">
                    <a href="#" class="aspect-square rounded-full flex-center bg-white/10">
                        <img src="/src/assets/imgs/icons/social/dzen.svg" alt="" />
                    </a>
                    <a href="#" class="aspect-square rounded-full flex-center bg-white/10">
                        <img src="/src/assets/imgs/icons/social/telegram.svg" alt="" />
                    </a>
                    <a href="#" class="aspect-square rounded-full flex-center bg-white/10">
                        <img src="/src/assets/imgs/icons/social/youtube.svg" alt="" />
                    </a>
                    <a href="#" class="aspect-square rounded-full flex-center bg-white/10">
                        <img src="/src/assets/imgs/icons/social/vk.svg" alt="" />
                    </a>
                    <a href="#" class="aspect-square rounded-full flex-center bg-white/10">
                        <img src="/src/assets/imgs/icons/social/wa.svg" alt="" />
                    </a>
                </div>
            </div>
        </div>

        <div class="mt-20 flex flex-wrap gap-x-6 gap-y-4 text-[10px] leading-tight items-center opacity-60">
            <p>© 2025— Шифа Cosmetics</p>
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Карта сайта</a>

            <img src="/src/assets/imgs/icons/payment-icons.svg" alt="Способы оплаты" />
        </div>
    </div>
</footer>
