<header class="bg-white">
    <div class="py-4 m1200:py-9 flex items-center justify-between relative container">
        <a href="/" class="-translate-x-1/2 left-1/2 absolute max-m475:hidden w-[190px] m1200:w-[310px]">
            <img src="/src/assets/imgs/icons/logo-dark.svg" class="w-full" />
        </a>

        <div class="flex items-center gap-5 text-xs">
            {% include './header-catalog-button.njk' %}

            <a href="#" class="font-bold uppercase max-m992:hidden">Акции</a>

            <button class="max-m992:hidden flex items-center gap-1.5 text-secondary tracking-normal">
                <img src="/src/assets/imgs/icons/city-select.svg" alt="Город Казань" />
                Город Казань
            </button>
        </div>

        <div class="flex items-center">
            <a class="mr-7 font-bold tracking-normal max-m1024:hidden" href="tel:88002560720">8 800 2560-720</a>

            <div class="flex gap-2.5 m576:gap-5">
                <a href="#">
                    <img src="/src/assets/imgs/icons/loop.svg" alt="Поиск" class="size-[30px]" />
                </a>

                <a href="#">
                    <img src="/src/assets/imgs/icons/heart-thin.svg" alt="Поиск" class="size-[30px]" />
                </a>

                <a href="/basket">
                    <img src="/src/assets/imgs/icons/bag.svg" alt="Поиск" class="size-[30px]" />
                </a>
            </div>
        </div>
    </div>

    <div class="container max-m1200:!px-0 pb-4 overflow-hidden">
        <nav class="flex justify-between uppercase text-sm text-main max-m1200:gap-4 overflow-y-hidden max-m1200:px-[15px] pb-6 -mb-6 max-m1200:overflow-x-auto whitespace-nowrap">
            <a href="#" class="text-sale">Распродажа</a>
            <a href="#">Для лица</a>
            <a href="#">Для волос</a>
            <a href="#">Для тела</a>
            <a href="#">О бренде</a>
            <a href="#">Оптовые поставки</a>
            <a href="#">контрактное производство</a>
            <a href="#">Доставка и оплата</a>
            <a href="#">Статьи</a>
            <a href="#">Контаткы</a>
        </nav>
    </div>
</header>
