<header class="bg-white">
    <div class="py-9 flex items-center justify-between relative container">
        <a href="/" class="-translate-x-1/2 left-1/2 absolute bottom-9">
            <img src="/src/assets/imgs/icons/logo-dark.svg" />
        </a>

        <div class="flex items-center gap-5 text-xs">
            <button class="rounded-full border border-accent flex items-center py-2 pl-3 pr-6 gap-5 font-bold uppercase">
                <img src="/src/assets/imgs/icons/burger.svg" alt="Меню" />
                Каталог
            </button>

            <a href="#" class="font-bold uppercase">Акции</a>

            <button class="flex items-center gap-1.5 text-secondary tracking-normal">
                <img src="/src/assets/imgs/icons/city-select.svg" alt="Город Казань" />
                Город Казань
            </button>
        </div>

        <div class="flex items-center">
            <a class="mr-7 font-bold tracking-normal" href="tel:88002560720">8 800 2560-720</a>

            <div class="flex gap-5">
                <a href="#">
                    <img src="/src/assets/imgs/icons/loop.svg" alt="Поиск" class="size-[30px]" />
                </a>

                <a href="#">
                    <img src="/src/assets/imgs/icons/heart-thin.svg" alt="Поиск" class="size-[30px]" />
                </a>

                <a href="#">
                    <img src="/src/assets/imgs/icons/bag.svg" alt="Поиск" class="size-[30px]" />
                </a>
            </div>
        </div>
    </div>

    <nav class="flex container justify-between uppercase text-sm text-main pb-4">
        <a href="#" class="text-sale">Распродажа</a>
        <a href="#">Для лица</a>
        <a href="#">Для волос</a>
        <a href="#">Для тела</a>
        <a href="#">О бренде</a>
        <a href="#">Оптовые поставки</a>
        <a href="#">контрактное производство</a>
        <a href="#">Доставка и оплата</a>
        <a href="#">Статьи</a>
        <a href="#">Контаткы</a>
    </nav>

</header>
