<section id="main-slider-section" class="mt-[49px] mb-24">
    <div id="main-slider" class="keen-slider mb-6">
        <div class="keen-slider__slide h-[460px] rounded-[80px] overflow-hidden">
            <img src="/src/assets/imgs/banner-1.png" alt="" />
        </div>
        <div class="keen-slider__slide h-[460px] rounded-[80px] overflow-hidden">
            <img src="/src/assets/imgs/banner-1.png" alt="" />
        </div>
        <div class="keen-slider__slide h-[460px] rounded-[80px] overflow-hidden">
            <img src="/src/assets/imgs/banner-1.png" alt="" />
        </div>
        <div class="keen-slider__slide h-[460px] rounded-[80px] overflow-hidden">
            <img src="/src/assets/imgs/banner-1.png" alt="" />
        </div>
        <div class="keen-slider__slide h-[460px] rounded-[80px] overflow-hidden">
            <img src="/src/assets/imgs/banner-1.png" alt="" />
        </div>
        <div class="keen-slider__slide h-[460px] rounded-[80px] overflow-hidden">
            <img src="/src/assets/imgs/banner-1.png" alt="" />
        </div>
    </div>
</section>
