<section id="main-slider-section" class="mt-[49px] mb-24">
    <div id="main-slider" class="keen-slider mb-6 h-[260px] m475:h-[290px] m576:h-[320px] m768:h-[380px] m1024:h-[460px] *:rounded-[40px] m992*:rounded-[80px]">
        <div class="keen-slider__slide h-full overflow-hidden">
            <img src="/src/assets/imgs/banner-1.png" alt="" class="size-full object-cover" />
        </div>

        <div class="keen-slider__slide h-full overflow-hidden">
            <div class="text-white bg-main size-full flex flex-col items-center justify-center p-4">
                <span class="uppercase py-1.5 rounded-full px-4 text-sm mb-4 m1024:mb-[42px] bg-accent">Новинки</span>

                <h4 class="text-center uppercase mb-4 m1024:mb-[29px] text-3xl m1024:text-[40px] m1024:leading-[48px]">
                    Познакомьтесь
                    с новинками 2025
                </h4>

                <p class="mb-4 m1024:mb-11 text-center">Возможно, здесь вы найдёте ваш будущий бестселлер</p>

                <button class="button border-accent border w-[254px]">
                    <span>смотреть новинки</span>

                    <img src="/src/assets/imgs/icons/arrow-right.svg" alt="" />
                </button>
            </div>
        </div>

        <div class="keen-slider__slide h-full overflow-hidden">
            <img src="/src/assets/imgs/banner-1.png" alt="" class="size-full object-cover" />
        </div>
        <div class="keen-slider__slide h-full overflow-hidden">
            <img src="/src/assets/imgs/banner-1.png" alt="" class="size-full object-cover" />
        </div>
        <div class="keen-slider__slide h-full overflow-hidden">
            <img src="/src/assets/imgs/banner-1.png" alt="" class="size-full object-cover" />
        </div>
        <div class="keen-slider__slide h-full overflow-hidden">
            <img src="/src/assets/imgs/banner-1.png" alt="" class="size-full object-cover" />
        </div>
    </div>
</section>
