<a href="/news-in" class="flex flex-col">
    <img src="/src/assets/imgs/news/1.png" alt="" class="object-cover rounded-[60px] mb-4 aspect-[400/190]" />

    <span class="uppercase font-bold text-lg leading-[1.2]">Как антиоксиданты помогают бороться с морщинами</span>

    <span class="mt-1 text-xs leading-[1.2] text-secondary">28 ноября</span>
</a>
