<a href="#" class="flex flex-col group">
    <span class="relative bg-white rounded-[60px] flex-center h-[333px] mb-[14px]">
        <img src="/src/assets/imgs/product/1.png" alt="" class="size-[80%] object-contain" />

        <span class="absolute top-2.5 left-0 bg-accent text-white lowercase text-xs rounded-full px-1.5">новинка</span>

        <button class="absolute top-2.5 right-2.5 size-[18px]">
            <img src="/src/assets/imgs/icons/heart.svg" alt="" class="w-full" />
        </button>

        <button class="absolute bottom-0 left-0 flex-center bg-main rounded-full size-14">
            <img src="/src/assets/imgs/icons/bag-white.svg" alt="" class="size-6" />
        </button>
    </span>

    <span class="mb-1">
        <span class="line-through">960</span>
        <span class="font-bold text-sale">690 ₽</span>
    </span>
    <span class="mb-1 text-sm font-bold group-hover:underline">Мыло туалетное на основе черного тмина</span>

    <span class="text-xs text-secondary">300 мл</span>
</a>
